<!-- footer start -->
<section class="footer">
    <div class="container" style="background-color: 1f1f1f">
      <div class="row">
        <div class="col-md-3 footer1">
          <img
            src="https://www.swasthyahospital.com/img/footerlogo.png"
            alt=""
            class="img-fluid w-100 mt-3"
          />
          <h5>
            Wide range of medical services<br />
            like diagnostic, treatment,<br />
            speciality clinics, ICU units,<br />
            emergency rooms & surgery.
          </h5>
          <li class="d-block text-white">
            <i class="fa-solid fa-location-dot"></i>Annabhau Sathe Chowk,
            Laltaki, Ahmednagar 414001
          </li>
          <li class="d-block text-white">
            <i class="fa-solid fa-phone"></i>0241 243 0530
          </li>
          <li class="d-block text-white">
            <i class="fa-solid fa-envelope"></i>swasthyahospital@gmail.com
          </li>
        </div>
        <div class="col-md-3 text-white text-justify footer2">
          <h2>Departments</h2>
          <h5 class="">Cardiology</h5>
          <h5 class="">Obstetrics & Gynaecology</h5>
        </div>
        <div class="col-md-3 text-white footer3">
          <h2>Quick Links</h2>
          <h5>Home</h5>

          <h5>Facilities</h5>
          <h5>Doctors</h5>
          <h5>Cashless</h5>

          <h5>Contact Us</h5>
          <h5>24/7 Support</h5>
        </div>
        <div class="col-md-3 text-white footer4">
          <h2>Facilities</h2>
          <h5>Cashless Facilities</h5>
          <h5>Cath Lab</h5>
          <h5>Opreation Theater</h5>
          <h5>ICU</h5>
          <h5>Cauallty</h5>
          <h5>2D Echo</h5>
          <h5>Stress Test</h5>
        </div>
      </div>

      <div class="row" style="margin-top: 60px">
        <div class="col-md-4 text-white text-justify">
          <li class="d-inline-block">
            <h5 style="font-size: 30px">Follow us:</h5>
          </li>
          <li class="d-inline-block ml-4">
            <i class="fa fa-facebook" style="font-size: 20px"></i>
          </li>
          <li class="d-inline-block ml-4">
            <i class="fa fa-twitter" style="font-size: 20px"></i>
          </li>
          <li class="d-inline-block ml-4">
            <i class="fa fa-youtube-play" style="font-size: 20px"></i>
          </li>
        </div>
        <div class="col-md-4 text-white">
          <h5 style="font-size: 23px; margin-top: 10px">
            Stay informed and healthy
          </h5>
        </div>
        <div class="col-md-4 mt-2">
          <input
            type="text"
            placeholder="enter your email"
            style="width: 200px; height: 39px; margin-top: 0px"
          /><button class="btn btn-primary mb-1">sign up here</button>
        </div>
      </div>
      <div class="row" style="margin-top: 60px">
        <div class="col-md-12 text-white text-center">
          <p style="font-size: 24px">
            Copyright @ 2021 Swasthya Hospital. All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- footer end -->
</body>
</html>