<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>swasthya hospital website using node js</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymou   s"
    ></script>
    <!-- <script src="https://kit.fontawesome.com/e1dfaab171.js" crossorigin="anonymous"></script> -->
    <script
      src="https://kit.fontawesome.com/14891168c2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- upper nav bar line -->
    <div
      class="container-fluid color_format_back d-none d-md-block text-center"
    >
      <div class="row">
        <div class="col-md-8">
          <ul class="start">
            <li class="d-inline-block ml-4 mt-3 text-white">
              <i class="fa-solid fa-envelope mr-2"></i
              >swasthyahospitalcashless@gmail.com
            </li>
            <li class="d-inline-block ml-4 mt-3 text-white">
              <i class="fa-solid fa-phone mr-2"></i> Call: 0241 243 0530
            </li>
            <li class="d-inline-block ml-4 mt-3 text-white">
              <i class="fa-solid fa-clock mr-2"></i>Emergency 24 x 7
            </li>
          </ul>
        </div>
        <div class="col-md-4 start1">
          <ul>
            <li class="d-inline-block ml-4 mt-3 text-white">
              Marathi | English
            </li>
            <li class="d-inline-block ml-4 mt-3 text-white">
              <i class="fa fa-facebook mr-1"></i>
            </li>
            <li class="d-inline-block ml-4 mt-3 text-white">
              <i class="fa fa-twitter mr-1"></i>
            </li>
            <li class="d-inline-block ml-4 mt-3 text-white">
              <i class="fa fa-youtube mr-1"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- upper nav bar line end -->

    <!-- main nav bar -->
    <section class="bg-white menu_top_menu">
      <div class="container p-0">
        <div class="row">
          <div class="col-5 col-md-2 ok1 ">
            <img
              src="https://www.swasthyahospital.com/img/logo.png"
              alt=""
              class="mt-2 p-0 w-100 img-fluid" style="height: 55px;"
            />
          </div>
          <div class="col-7 col-md-8">
            <nav
              class="navbar navbar-expand-lg navbar-light d-flex justify-content-end"
            >
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto social_icon1 ok cl">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home </a>
                  </li>

                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="/"
                      role="button"
                      data-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Department
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="/cardiology">Cardiology</a>
                      <a class="dropdown-item" href="/obstetrics"
                        >Obstetrics And Gynaecology</a
                      >
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/facilities">Facilities</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/doctors">Doctors</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/cashless">Cashless</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                  </li>
                  <% if(is_login) { %>
                  <li>
                    <a class="nav-link " href="/profile"style="background-color: #396cf0; width: 50px; height: 40px; margin-left: 20px; border-radius: 10px; margin-top:10px" ><img src="/images/user.svg" style="width: 30px; height: 25px; margin-left: 2px;" ></a>
                  </li>
                  <% } else { %> 
                  <li class="nav-item">
                    <a class="nav-link" href="/signup">SignUp</a>
                  </li>
                  <% } %>
                 
                  
                </ul>
              </div>
            </nav>
          </div>
          <div class="col-md-2 d-none d-md-block">
            <a href="/doctors">
            <button class="btn btn-lg color_format_back mt-3 text-white">
              Appointment
            </button>
          </a>
          </div>
        </div>
      </div>
    </section>

    <!-- main nav bar end-->

    <!-- body start -->